@import "~antd/dist/antd.css";

.root {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f3f5f6;
}

.container {
  padding: 10px;
  width: 900px;
  border-radius: 8px;
  background-color: #fff;
}

.header {
  display: flex;
  justify-content: space-between;
}

.input {
  margin-right: 10px;
  width: 200px;
}

.button {
  width: 100px;
}

.exchange-rate {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.exchange-rate-text {
  margin-left: 20px;
}

.card-box {
  margin-top: 20px;
}

.total-price {
  margin-top: 10px;
}

.done-text {
  text-decoration: line-through;
}
